*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
  margin: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  min-height: 386px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

fieldset {
  border: none;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  width: fit-content;
}

.search-form__label-text {
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  background-color: #1b1919;
  border-top: 1px solid #fff;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;
  width: 225px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 22px;
}

.search-form__textfield:focus {
  border-top: 1px solid #fff;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label:not(:last-of-type) {
  margin-right: 15px;
}

.search-form__label:focus-within {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #1b1919;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 2px solid #1b1919;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  background-color: #1b1919;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.button:focus {
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
  outline: none;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
}

.content__list-item:active {
  background-color: #545050;
  text-decoration: none;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
}

.more-button {
  width: 399px;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}
